
.bg-img {
  /* The image used */
  background-image: url("./background_picture.png");

  min-height: 300px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
}

.title{
  font-family: "Nunito", sans-serif;
  color: Gray;
}

* {
  padding: 0px;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  color: Gray;
}

.navbar-text {
  font-family: 'Nunito', sans-serif;

}

.navbar-brand {
  font-family: 'Nunito', sans-serif;
  font-size: 2.5rem;
  padding-left: 3%;
  padding-bottom: 2%;
  padding-top: 2%;
}

.navbar-brand:hover {
  font-family: 'Nunito', sans-serif;
}

.site-header-logo h1 {
  color: CornflowerBlue;
  font-family: 'Nunito', sans-serif;
  font-size: 1.5rem;
  margin-top: 2.5%;
  padding:3%;  
}

p {
  width: 100%;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 0%;
  padding-top:3%;
  font-size: 1.4rem;
}

p1 {
  padding-right: 3%;
  padding-left: 3%;
  padding-top: 0%;
  font-size: 1rem;
}


.container_ {
  height:auto;
  padding-right: 4%;
  padding-left: 4%;
  padding-top:0%
}

.containerGraph {
  padding-right:15%;
  padding-left: 15%;
  position: center;
  height: 110%;

}

.container2Graphs {
  padding-left: 10%;
  padding-right: 5%;
  padding-top: 0%;
}

div.left {
  width: 80px;
  float: left;
}

div.right {
  margin-left: 300px;
  padding-top: 10px;
  background-color: Silver;
}

div.clear {
  clear: both;
}

footer {
  padding: 3%;
  color: azure;
  width: 900px
}




