{% extends "layout.html" %}
{% block content %}
<div class="site-header-logo">
    <h1 >While more women than ever are being elected to parliaments around the world, 
        gender parity is still a long way off and progress is painfully slow. 
        Most parliaments are still heavily male-dominated, and some have no women MPs at all.
        <br></br>

        In this demonstration, you can explore gender balance in national parliaments since 1945 through interactive
        plots  based on historical data on the 
        proportion of seats held by women worldwide from <a href="https://www.ipu.org/">Inter-Parliamentary Union</a>.
    </h1>

</div>

<div class="row p-4">
    <div class="card m-auto" style="width: 90%">
        <div class="card-body">
            
            <div class="container1">
                <p>In many countries, women have been under-represented in the government and different institutions. 
                    In 1960, only a few countries around the world included 
                    women in their parliaments, however, women's representation increased overtime. The following plot shows how the percentage of women's participation for certain
                countries around the world has risen from 1960 to 2017.</p>
                <p1>Note: Certain countries have been excluded due to lack of available data.</p1>

                <div id="chart6"></div>
            </div>

            <div class="container2">
                <p class="text2">
                    It is apparent that there is a historical tendency of insufficient participation. 
                    Looking at women's participation at global scale, we can see that the total seats held by women averaged for all the countries around the world
                    started with only a very small proportion in the late fourties,less than 5%, marking an impressive rise through the last 20 years from 10% in 2000 
                    to almost 25% in 2018.</p>
                <div id="chart1" style="width:60%" style="float:left">
            </div>

        </div>
            <p> 
                The rise is more obvious looking at the global average of women's participation in national parliaments by 
                decade as shown in the following figure. In the '50s and '60s, women accounted only for 5% of 
                parliament members whilst in the late '70s, their percentage almost doubled to 9% of the total. 
                '80s and '90s followed the same upward trend with 23% and 31% increase in the global average from 
                the previous decade respectively. However, the highest percentage increase through the years was 
                from '90s to '00s (52%); the median global percentage of women participation reached 16% 
                in the '00s compared to 10.5% in the '90s. Women's participation continued to rise to the same 
                rate from 2000 onwards, reaching almost 25% in recent years. </p>
        <div class="container3">
            <div id="chart2" class="left"></div>
            <div id="chart3" class="right"></div>
        </div>
        
        <p>As of 2021, in five countries; Rwanda, Cuba, Nicaragua, Mexico, and the United Arab Emirates, women now account for 50 per cent or 
            more MPs in their lower or single chambers. A twenty six further  countries have reached or surpassed 40 per cent, 
            including eleven countries in Europe, six in Sub-Saharan Africa, eight in Americas and one in the Pacific. 
            However, there are countries in all regions except Europe that still have lower or single parliamentary
            chambers with less than 5 per cent women. </p>
            
        <div class="container4">
            <div id="chart5"></div>
        </div>

        <p>In Europe, it's mostly the Nordic countries that have women holding over 40 per cent of parliamentary seats. 
            Rwanda stands out, in Sub-Saharan Africa, being the world leader in terms of women representation.
            In the Americas, women’s representation in politics varies considerably across subregion with the 
            Caribbean holding the highest percentage of seats held by women in parliament, with Cuba leading the way.

            In Asia, four countries have surpassed the 30 per cent mark for women’s
            representation while the Pacific is the lowest compared to other parts of the world.
            Despite Australia, New Zealand, and Fiji the region still counts many countries with less than 10% in representation and
        the only three parliaments in the world with no women members (Federated States of Micronesia, Papua New Guinea and Vanuatu).
        Until recently, the Middle East and North Africa (MENA) region also included parliaments with no women at all. However, today, women across 
        the region enjoy the same political rights as men and United Arab Emirates became
        the first country in the area to achieve parity.
        </p>

        <div class="container4">
            <div id="chart4"></div>
        </div>
       <p>Overall, parliaments are moving in the direction of gender parity. In the past 25 years, 
           the implementation of legislated or voluntary gender quotas have spread to all regions of the world, 
           driving up women’s representation in parliaments. Rwanda, United Arab Emirates, Mexico and
           Nicaragua are examples of the successful implementation of legislated quotas that yielded positive results.
           Such active steps as adopting a legislated quota requiring 50 per cent women’s representation in parliament 
           for all countries are needed to accelerate the change that will lead to gender parity in parliaments 
           and mark an important step towards equality in political life.
       </p>

    </div>
</div>
<div>
    <footer>
        <p>Data derived from <a href="https://data.ipu.org/historical-women">IPU Parline - Global data on national parliaments </a>. 
            <br>Inspired by <a href="https://www.ipu.org/resources/publications/reports/2020-03/women-in-parliament-1995-2020-25-years-in-review">'Women in parliament: 1995–2020 - 25 years in review' report</a> 
            from Inter-Parliamentary Union.</br>
        <br>Created by Dee, 2022.</br>    
        <br><a href="mailto:dee@example.com">dee@example.com</a></br>
        </p>
      </footer>
    
</div>

    <!--  Plotly  -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
    var graph1 = {{graph1JSON | safe}};
    Plotly.plot("chart1", graph1, {})

    var graph2 = {{graph2JSON | safe}};
    Plotly.plot("chart2", graph2, {})

    var graph3 = {{graph3JSON | safe}};
    Plotly.plot("chart3", graph3, {})

    var graph4 = {{graph4JSON | safe}};
    Plotly.plot("chart4", graph4, {})

    var graph5 = {{graph5JSON | safe}};
    Plotly.plot("chart5", graph5, {})

    var graph6 = {{graph6JSON | safe}};
    Plotly.plot("chart6", graph6, {})

</script>

{% endblock %}